@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(40, 31, 53), rgb(61, 46, 83));
  font-family: "Poppins", sans-serif;
}
