@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px;
}

body {
  background: linear-gradient(to right, rgb(40, 31, 53), rgb(61, 46, 83));
  color: rgb(235, 235, 235);
  font-family: "Poppins", sans-serif;
}
